*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #333;
  background: url(../img/login_bg.jpg) fixed no-repeat;
  background-size: 100% 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
li {
  list-style: none
}
a {
  text-decoration: none;
  color: #337ab7;
}
a:focus, a:hover {
  color: #23527c;
}
input[type="text"],
input[type="password"] {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: all .3s;
}
input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.is-error input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c76161;
}
.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.container-fluid:after,
.container-fluid:before {
  display: table;
  content: '';
}
.clearfix:after,
.container:after,
.container-fluid:after {
  clear: both
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right
}
.pull-left {
  float: left
}
.m-t {
  margin-top: 15px
}
.m-b-5 {
  margin-bottom: 5px
}
.m-b {
  margin-bottom: 15px
}
.m-r {
  margin-right: 15px;
}
.m-l-xs {
  margin-left: 5px
}
.m-l {
  margin-left: 15px;
}
.border {
  border: 1px solid #ccc
}
.border-top {
  border-top: 1px solid #ccc
}
.border-left {
  border-left: 1px solid #ccc
}
.border-right {
  border-right: 1px solid #ccc
}
.border-bottom {
  border-bottom: 1px solid #ccc
}
.text-center {
  text-align: center
}
.text-right {
  text-align: right
}
.text-left {
  text-align: left
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .3s
}
.toolbar {
  margin: 10px 0px;
  .el-form-item {
    margin-bottom: 10px;
  }
}
.bg-white {
  background: #fff
}
/** bootstrap style **/
.panel {
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #fff;
}
.panel-heading {
  padding: 12px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  a {
    color: #fff;
  }
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  vertical-align: middle
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #20a0ff;
}
.panel-body {
  padding: 30px;
}
dl {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
.table-bordered, 
.table-bordered td, 
.table-bordered th {
  border: 1px solid #eceeef;
}
.table-bordered thead td, 
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  border-bottom: 2px solid #eceeef;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
/* element-ui style */
.uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.uploader .el-upload:hover {
  border-color: #20a0ff;
}
.uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.steps-bar {
  margin-bottom: 15px;
  padding-top: 3px;
  background: #f9f9f9
}
.el-step__title {
  line-height: 26px
}
.el-step__icon {
  line-height: 25px
}
.el-card {
  padding: 10px
}
.card-title {
  line-height: 36px; 
  font-size: 20px; 
  font-weight: bold
}
.el-input-number {
  width: 100%
}
.select-width {
  width: 217px;
}
.control .el-form-item .el-select,
.control .el-form-item .el-input {
  width: 160px;
}
.text-center .el-form-item__content {
  margin-left: 0!important
}
.el-button--block,
.el-select--block,
.el-input--block {
  width: 100%
}

/*供应商商品管理-新建商品-多媒体*/
.mediaUpload .el-upload--picture-card{
    width: 80px;
    height: 80px;
    line-height: 80px;
}
.mediaDialog .el-dialog--small{
    width: 70%;
}
.mediaDialog .el-dialog--small .el-dialog__header{
    border-bottom:2px solid #cccccc;
    padding-bottom:12px;
}
.mediaDialog .el-dialog__body{
  padding-top:2px;  
}
.mediaDialog .mediaUpload{
  border-bottom: 1px solid #ccc;
  padding: 0 20px 15px;
}
.mediaDialog .el-form{
  padding: 20px 10px;
}
.ipts .el-form-item:last-child{
  margin-right: 0;
}
.ipts .el-form-item__content{
  width: 62%;
}
.mediaUpload .el-upload-list--picture-card .el-upload-list__item{
  width: 80px;
  height: 80px;
}
.upbtn .el-upload--picture-card{
  background: #c0ccda;
}
.upbtn .el-upload--picture-card:hover{
  border-color: #c0ccda;
}
.upbtn .el-upload--picture-card i{
  color:#fff;
}